*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body{
    width: 100%;
    background: #8942a8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8942a8, #ba382f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8942a8, #ba382f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 300% 300%;
    animation: change 20s ease-in-out infinite;

}

header{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.400);
    width: 100%, -10px;
    padding-top: 10px;
    padding-left: 10px;
    
}

.logo-img{
    float: left;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.logo-text{

    color: rgb(149, 0, 255);
    padding-left: 100px;
    padding-top: 30px;
}

main{
    text-align: center;
}

.wip-text{
    color: darkred;
}

footer{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.400);
    width: 100%;
    padding-top: 10px;
}

.git-text{
    color: white;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
