*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    /* overflow-x: hidden; */
}

/* || General styles */
body{
    background-color: #3F3F3F;
    background-image: url("images/Back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color:rgba(0, 0, 0, 0.5);
    padding: 5px;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer{
    background-color:rgba(0, 0, 0, 0.5);
    padding: 0;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

/* || Header and Main Navigation */
.logo-text{
    color: white;
    font-size: 40px;
}

.nav-item{
    color: lightgray;
    margin: auto 2%;
    padding: 1px 20px;
    text-align: center;
    cursor: pointer;
}

.nav-item:hover{
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    text-decoration:underline;
    color: white;
}

.logo-img{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 0 20px;
}

/* || Main and project boxes */
.main-text{
    color: white;
    font-size: 150%;
    margin: 2% auto;
    margin-top: 5%;
    text-align: center;
}

main > section div{
    margin: 10px auto;
    width: 500px;
    height: 100%;
    padding: 10px;
    background: rgba(50, 50, 50, 0.8);
    background-position: center;
    background-size: cover;
}

main > section img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    opacity: 0.8;
    margin: 5px 0;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

main > section img:hover{
    opacity: 1;
    transform: scale(1.01);
}

main h2{
    color: white;
    text-align: center;
}

main p{
    text-align: center;
    font-size: 18px;
    color: white;
}

main a:link {
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
  
main a:visited {
    color: lightgray;
    text-shadow: 5px 5px 5px rgb(0, 0, 100);
}

main a:hover{
    color: inherit;
    text-shadow: 5px 5px 5px rgb(100, 100, 100);
}

/* || Footer */
.git-logo{
    width: 60px;
    height: 100%;
}

.git-text{
    color: gray;
}

/* || Responsive - Desktop layout only */
@media (min-width: 600px) {
    .topnav{
        flex: 1;
        justify-content: flex-end;
    }
}

/* || Responsive - Mobile layout only */
@media (max-width: 600px) {
    #scale.flex-row{
        flex-direction: column;
    }
    .logo-img{
        margin: auto;
    }
    .topnav{
        justify-content: center;
    }
    header{
        border-radius: 0 0 40px 40px;
    }
    footer{
        border-radius: 10px 10px 0 0;
    }
    main > section div{
        border-radius: 50px;
        width: 100%;
    }
    main > section img{
        border-radius: 50px;
    }
    main h2{
        font-size: 25px;
    }
    main p{
        font-size: 15px;
        padding: 0 5px;
        overflow-wrap: break-word;
    }
}

/* || Responsive - Extreme mobile layout only */
@media (max-width: 300px) {
    .logo-text{
        font-size: 12vw;
        padding: 5vw;
    }
    .main-text{
        font-size: 8vw;
        padding: 5vw;
    }
}

/* || Webkit scrollbar */
::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-track-piece{
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(119, 119, 119);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cacaca;
}