* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	scrollbar-width: thin;
}

:root {
	--main-text-color: white;
	--main-background-color: rgba(0, 0, 0, 0.5);
	--content-background-color: rgba(50, 50, 50, 0.8);
}

/* || General styles */
body {
	background-color: #3f3f3f;
	background-image: url("/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: var(--main-background-color);
	padding: 5px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

footer {
	background-color: var(--main-background-color);
	padding: 0;
	justify-content: center;
	align-items: center;
}

/* || Flex */
.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

/* || Header and Main Navigation */
.logo-text {
	color: var(--main-text-color);
	font-size: 40px;
	font-weight: bold;
}

.logo-img {
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: 0 20px;
}

.nav-links a {
	color: var(--main-text-color);
	margin: auto 2%;
	text-align: center;
	text-decoration: none;
}

.nav-links a:hover {
	filter: drop-shadow(0 0 4px rgb(255, 255, 255));
	color: var(--main-text-color);
}

/* || Main and item boxes */
.main-header {
	color: var(--main-text-color);
	font-size: 150%;
	margin: 2% auto;
	margin-top: 5%;
	text-align: center;
}

.main-paragraph {
	color: var(--main-text-color);
	font-size: 16px;
	text-align: center;
	margin: 1%;
}

.item-box-section {
	flex: 1;
	padding: 1%;
	justify-content: space-evenly;
	color: var(--main-text-color);
}

.item-box-section > div {
	margin: 10px;
	padding: 10px;
	height: 100%;
	background: var(--content-background-color);
	background-position: center;
	background-size: cover;
	border-radius: 5px;
}

.item-box-section.projects > div {
	width: 500px;
}

.item-box-section img,
.item-box-section video {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	margin: 5px 0;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
	cursor: pointer;
	transition: 0.1s all ease;
	border-radius: 5px;
}

.item-box-section img:hover,
.item-box-section video:hover {
	transform: scale(1.01);
}

.item-box-section h1,
.item-box-section h2,
.item-box-section h3,
.item-box-section h4,
.item-box-section h5,
.item-box-section h6 {
	text-align: center;
}

.item-box-section p,
.item-box-section a {
	text-align: left;
	font-size: 1em;
}

.item-box-section svg {
	margin: 0 2.5px;
	font-size: 1.5em;
}

.item-box-section .project-details {
	justify-content: space-between;
	margin-bottom: 5px;
}

.item-box-section.contact h1,
.item-box-section.contact svg {
	font-size: 2em;
	margin: 5px;
}
.item-box-section.contact a {
	font-size: 1.5em;
}

/* || Button */
.button:link {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	color: var(--main-text-color);
	text-decoration: none;
	background-color: rgba(80, 80, 80);
	padding: 10px;
	border-radius: 10px;
}

.button:hover {
	color: var(--main-text-color);
	background-color: rgba(70, 70, 70);
}

.button:visited {
	color: var(--main-text-color);
}

/* || Image modal */
.modal {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--main-text-color);
}

.modal > span {
	font-size: 80px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 50px;
	cursor: pointer;
	z-index: 1;
}

.modal img,
.modal video {
	display: none;
	max-width: 90vw;
	max-height: 80vh;
	animation: zoom 0.3s linear;
}

.modal p {
	font-size: larger;
	margin-top: 1em;
	animation: zoom 0.3s linear;
}

.modal.appear,
.modal .appear {
	display: flex;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* || Footer */
.git-logo {
	width: 60px;
	height: 100%;
}

.git-text {
	margin: auto 0;
	color: gray;
}

/* || Responsive - Desktop layout only */
@media (min-width: 601px) {
	.nav-links {
		flex: 1;
		justify-content: flex-end;
	}
}

/* || Responsive - Mobile layout only */
@media (max-width: 600px) {
	#scale.flex-row {
		flex-direction: column !important;
	}
	.logo-img {
		margin: auto;
	}
	header {
		border-radius: 0 0 40px 40px;
	}
	footer {
		border-radius: 10px 10px 0 0;
	}
	.item-box-section > div,
	.item-box-section img,
	.item-box-section video {
		border-radius: 20px;
		width: 100%;
	}
	.item-box-section h1,
	.item-box-section h2,
	.item-box-section h3,
	.item-box-section h4,
	.item-box-section h5,
	.item-box-section h6,
	.item-box-section.contact a {
		font-size: 5vw;
	}
	.item-box-section p {
		padding: 0 5px;
	}
}

/* || Responsive - Extreme mobile layout only */
@media (max-width: 300px) {
	.logo-text {
		font-size: 12vw;
		padding: 5vw;
	}
	.main-header {
		font-size: 8vw;
		padding: 5vw;
	}
}

/* || Webkit scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(119, 119, 119);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #cacaca;
}
