---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon";

const pageTitle = "Contact - zetterberg123";
const pageDescription = "Contact page";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
	<h1 class="main-header"><strong>Contact me!</strong></h1>
	<p class="main-paragraph">
		Use links below if you want to contact me for any questions and/or
		request CV.
	</p>

	<!-- Contact section || Links to where you can contact me -->
	<section class="flex-row center item-box-section contact">
		<div class="flex-col">
			<div class="flex-row center">
				<Icon name="discord" height="1em" width="1em" />
				<h1>Discord</h1>
			</div>
			<a class="button flex-row center" href="https://discordapp.com/users/137319967136808960" target="_blank" rel="noopener noreferrer">Message on Discord</a>
		</div>
		<div class="flex-col">
			<div class="flex-row center">
				<Icon name="email" height="1em" width="1em" />
				<h1>Email</h1>
			</div>
			<a class="button flex-row center" href="mailto:contact@zetterberg123.com" target="_blank" rel="noopener noreferrer">contact@zetterberg123.com</a>
		</div>
		<div class="flex-col">
			<div class="flex-row center">
				<Icon name="linkedin" height="1em" width="1em" />
				<h1>Linkedin</h1>
			</div>
			<a class="button flex-row center" href="https://www.linkedin.com/in/sebastian-zetterberg/" target="_blank" rel="noopener noreferrer">Message on Linkedin</a>
		</div>
	</section>
</BaseLayout>
