<!-- Image/video Modal -->
<div class="modal flex-col center">
	<!-- Close Button -->
	<span>&times;</span>

	<!-- Modal Content (image/video and text) -->
	<img src="" alt="" />
	<video controls autoplay>
		<source src="" /> Your browser does not support the video tag.
	</video>
	<p></p>
	<div class="flex-col center"></div>
</div>
