---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
import "../styles/font.css";

interface Props {
	pageTitle: string;
	pageDescription?: string;
	header?: boolean;
	footer?: boolean;
}

const { pageTitle, pageDescription, header=true, footer=true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={pageDescription} />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{pageTitle}</title>
		<script is:inline defer src="https://analytics.zetterberg123.com/script.js" data-website-id="7f544cd8-79c5-4dcc-afad-e603696c2c08"></script>
	</head>
	<body>
		{header && <Header />}
		<main>
			<slot />
		</main>
		{footer && <Footer />}
		<script>
			import "../scripts/imageModal.ts";
		</script>
	</body>
</html>
