---
import BaseLayout from "./BaseLayout.astro";
import ProjectBox from "../components/ProjectBox.astro";
import type { CollectionEntry } from "astro:content";
import "../styles/tailwind.css";

interface Props {
	project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const data = project.data;
---

<BaseLayout pageTitle={data.title}>
	<section class="flex-col center item-box-section">
		<div>
			<h1 style="color: red;">
				<strong>Project pages are work in progress!</strong>
			</h1>
			<h2>They are not properly styled and may lack content.</h2>
		</div>
		<ProjectBox project={project} />
		<!-- 
			Markdown content
			Styled with Tailwind Typography
		-->
		<div
			class="item-box-ignore prose
			prose-neutral prose-blue dark:prose-invert prose-headings:text-indigo-600
			prose-base md:prose-lg
			w-full max-w-full lg:max-w-5xl
			!p-5 lg:!p-10"
		>
			<slot />
		</div>
	</section>
</BaseLayout>
